{% extends 'customer/base.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
                <h1>About us!</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-1">
            <div class="col-sm-12 offset-md-1 p-4 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit bibendum lorem et
                    mollis. Suspendisse elit metus, venenatis et ligula ac, placerat aliquam nunc. Nulla id maximus
                    risus. Vivamus fringilla in erat nec dapibus. Morbi tristique enim a mauris auctor consectetur. Cras
                    nec nisi eget diam sollicitudin blandit ac at enim. Donec finibus mi ac justo tincidunt fringilla.
                    Maecenas gravida erat ut sapien laoreet, eu scelerisque odio ultricies. Proin massa leo, facilisis
                    vulputate dui at, lacinia accumsan ligula. Nam justo justo, rhoncus in tristique ut, ultrices et
                    enim. Donec convallis augue turpis, vitae volutpat orci egestas nec.</p>

                <p>Sed lacinia enim ac ante aliquet, et malesuada nunc efficitur. Vestibulum tincidunt nunc sem, ut
                    ornare ipsum euismod a. Ut eget tincidunt purus, sit amet auctor metus. Vestibulum ante ipsum primis
                    in faucibus orci luctus et ultrices posuere cubilia curae; Nam sem quam, feugiat sit amet nisl nec,
                    maximus convallis massa. Aliquam ullamcorper, neque in convallis facilisis, est ipsum sollicitudin
                    sem, nec viverra enim turpis vel ex. Aenean nunc nunc, volutpat vel magna in, sodales tincidunt
                    ante. Etiam lacinia massa at nisl feugiat consectetur. Vivamus auctor molestie dolor ac suscipit.
                    Pellentesque malesuada at nisl in mollis. Sed vitae purus nec metus euismod mattis. Ut convallis
                    viverra quam, et pulvinar ligula pharetra at. Vestibulum nec felis interdum, hendrerit justo ut,
                    suscipit ligula.</p>

                <p>In ornare lacinia neque, in pulvinar ligula auctor id. Vestibulum ac luctus nisl. Integer placerat
                    volutpat erat, a venenatis ante sollicitudin at. Vestibulum ante ipsum primis in faucibus orci
                    luctus et ultrices posuere cubilia curae; Phasellus semper lobortis efficitur. Cras id mi eget eros
                    pretium maximus eu quis augue. Duis vestibulum ex vitae nisl dapibus, non fermentum nisi tincidunt.
                    Ut ligula mi, facilisis in mattis non, efficitur at mi. Sed dictum, mauris sed consequat lobortis,
                    urna arcu aliquam mi, sit amet eleifend justo turpis non quam. Quisque nec velit nibh. Praesent non
                    est id arcu dapibus tempor a et massa. Integer sed est libero.</p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}